* {
    margin: 0px;
    padding:0px;
    font-family: 'Montserrat', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    box-sizing: border-box;  
    text-decoration: none; 
    list-style: none;
    -webkit-text-size-adjust: none;
}
header{
    background-color: rgb(90, 14, 22);
}
#contenedor__general{
    margin-top: -15px;
    background-color: #fff;
}
#titulo-alta{
    margin: -2rem 0 1.5rem 0;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    padding-top: 1.5rem;
    color: rgb(90, 14, 22);
}
.formulario-contacto{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90vw;
    padding-top: 1rem;          
}
.campo-formulario {
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;    
    padding: 15px 7px 5px 0;
    margin: 4px 0px 2px 0px;
}
.img__ppal__tienda{
    max-width: 100%;
}
#contenedor-alta{
    background-color: rgb(90, 14, 22);
    padding: 15%;
    color: #fff;
    font-weight: 600;
    font-size: 1.5em;
}
fieldset input{
    width: 100%;
    border-radius: 8px;
    padding: 3px 0px 4px 7px;
    background-color: rgb(240, 220, 155);
    color: rgb(90, 14, 22);
    border: solid 1px rgb(58, 5, 10);
    margin-top: 4px;
}
.feedback {
    color: rgba(245, 6, 6, 0.89);
    font-weight: lighter;
}
button{
    background-color: rgb(90, 14, 22);
    border-radius: 10px;
    padding: 15px 18px;
    color: #fff;
    font-weight: 600;
    border: solid 2px rgb(240, 220, 155);
    margin-top: 25px;
}
button:hover{
    background-color: rgba(240, 220, 155, 0.5);
    color: rgb(90, 14, 22);
    font-weight: 700;
}
#brand{
    background-color: rgb(240, 220, 155);
    border: solid 1px rgb(58, 5, 10);
    color: rgb(58, 5, 10);
    font-weight: 500;
    border-radius: 8px;
    padding: 5px 7px;
    margin-left: 5px;
}

/* ===================================== COMIENZO MEDIA QUERIES =============================================== */
        /* ======================================= 0 ===================================== */
        @media screen and (min-width:768px){
        /* =============================================================================== */  
        #contenedor-alta{
            padding: 5% 10%;
            margin: 0 20%;
            border-radius: 8px;
        }
}
        /* ======================================= 1 ===================================== */
            @media screen and (min-width:1200px){
        /* =============================================================================== */
        #contenedor__general{
            margin-top: -90px;
        }
        #contenedor-alta{
            padding: 5% 13%;
            margin: 0 23%;
            border-radius: 10px;
        }
        #titulo-alta{
            padding-bottom: 30px;
        }
}