* {
    margin: 0px;
    padding:0px;
    font-family: 'Montserrat', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    box-sizing: border-box;  
    text-decoration: none; 
    list-style: none;
    -webkit-text-size-adjust: none;
}
header{
    background-color: rgb(90, 14, 22);
}
.contenedor-nav{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
}
.contenedor-nav li{
    margin: 0 15px;
}
.contenedor-nav a{
    color: #fff;
    font-weight: 600;
}
a:hover{
    text-shadow:
    0 0 7px #fff,
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 25px rgb(125, 63, 150),
      0 0 42px rgb(125, 63, 150),
      0 0 50px rgb(125, 63, 150),
      0 0 52px rgb(125, 63, 150),
      0 0 50px rgb(125, 63, 150);
} 
.logo{
  width: 80%;
  padding: 3%;
}
.contenedor-logo-nav{
   display: flex;
   justify-content: center;
}
.img-ppal-vinos{
    max-width: 100%;
    margin-top: 35px;
}
/*----- Burguer ---------------------*/
.burger-menu{
    /*background-color: #03264C; */
    background-color: rgb(58, 12, 16);
    display: block;
    max-width: 50px;
    border-radius: 8px;
    padding: 10px 0;
    text-align: center;
    font-size: 18px;
    margin: auto;
    color: #fff;
}
.contenedor-nav{
    display: none;
}
/* ----------FIN del NAVEGADOR ----principio main --------*/
.contenedor__general{
    padding: 10% 15px;
    margin-top: -7em;
    background-color: #fff;
}
.contenedor__seccion1, .contenedor__seccion2{
    display: flex;
}
.contenedor__seccion1 figure{
    width: 50%;
    margin: 0;
    padding: 0;
}
.contenedor__seccion2 figure{
    width: 50%;
}
.contenedor__seccion1 p, .contenedor__seccion2 p{
    padding: 5% 0 3% 0;
}
.contenedor__seccion2 p{
    text-align: right;
}
.titulo__ficha-tecnica, .titulo__ficha-tecnica2{
    padding: 0;
    font-weight: 400;
    font-size: 1.3em;
    border-top:solid 2px rgb(90, 14, 22);
    border-bottom:solid 2px  rgb(90, 14, 22);
    background-color: rgba(90, 14, 22, 0.3);
}
.titulo__ficha-tecnica2{
    text-align: right;
}
.botella-funes, .botella-ruta15{
    max-width: 80%;
}
.fa-check-square{
    margin-right: 7px;
    color:rgb(90, 14, 22);
}
.contenedor__secc2__listado .fa-check-square{
    margin-left: 7px;
}
.contenedor__secc1__imagen{
    margin-top: -6%;
}
.contenedor__secc2__imagen{
    margin-top: 8%;
}
.contenedor__secc1__listado{
    margin-top: -5%;
}
.contenedor__secc2__listado{
    margin-top: 10%;
}










/*----------- inicio footer -------------*/
footer{
    background-image: linear-gradient(rgb(85, 150, 218), rgb(68, 121, 156));
    padding: 3% 5%;
    margin-top: 10%;
}
.contenedor__footer__general{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.contenedor__footer__general li{
    padding: 2px 0 4px 0;
}
.contenedor__footer__sector-izq{
    padding-top: 3%;
    color: #fff;
    font-weight: 500;
}
.linea__superior-izquierda__footer{
    border-top: solid 6px rgb(90, 14, 22);
    border-radius: 5px;  
    margin-top: 2%;
}
.linea__superior-izquierda__footer p{
    margin-top: 2%;
}
.contenedor__footer__sector-izq li p{
    padding-left: 7px;
    color: rgb(236, 233, 234);
    font-weight: 700;
}
.contenedor__footer__sector-izq li p #footer__info__1, #footer__info__0{
    font-weight: 400;
    color: rgb(243, 238, 238);
}
.contenedor__footer__sector-izq{
    padding-top: 3%;
    color: #fff;
    font-weight: 500;
}
.contenedor__footer__mapa{
    position: relative;
}
.titulo-mapa{
    font-size: 1.4em;
    font-weight: 700;
    color: #fff;
}
.mapa{
    border-radius: 8px;
}







/* ===================================== COMIENZO MEDIA QUERIES =============================================== */
    /* ======================================= 0 ===================================== */
    @media screen and (min-width:768px){
    /* =============================================================================== */  
        .logo{
            width: 10%;
            padding: 0;
            margin: 1,5% 60% 0 7%
        }
        .burger-menu{
              display: none;
        }
        .contenedor-logo-nav{
            display: inline-block;
            position: absolute;
            margin-left: 3%;
        }
        .contenedor-nav{
            display:flex;
            justify-content: flex-end;
        }
        .contenedor__nav__secciones{
            display:flex;
        }
         main{
            margin-top: 0;
        }
}
    /* ======================================= 1 ===================================== */
       @media screen and (min-width:1200px){
    /* =============================================================================== */        
       .contenedor__general{
        padding: 10% 20%;
        margin-top: -15em;
        background-color: #fff;
       }    
       .contenedor__seccion1 figure{
            width: 43%;
            margin-top: -50px;
        }
        .contenedor__seccion2 figure{
            width: 40%;
        }
        .contenedor__seccion1 p, .contenedor__seccion2 p{
            padding: 5% 0 3% 0;
        }
        .contenedor__seccion2 p{
            text-align: right;
        }
        .titulo__ficha-tecnica, .titulo__ficha-tecnica2{
            padding: 3% 3%;
            font-weight: 400;
            font-size: 1.5em;
            border-top:solid 2px rgb(90, 14, 22);
            border-bottom:solid 2px  rgb(90, 14, 22);
            background-color: rgba(90, 14, 22, 0.3);
        }
        .titulo__ficha-tecnica2{
            text-align: right;
        }
        .botella-funes, .botella-ruta15{
            max-width: 80%;
        }
        .fa-check-square{
            margin-right: 7px;
            color:rgb(90, 14, 22);
        }
        .contenedor__secc2__listado .fa-check-square{
            margin-left: 7px;
        }
        .contenedor__secc1__imagen{
            margin-top: -6%;
        }
        .contenedor__secc2__imagen{
            margin-top: 8%;
        }
        .contenedor__secc1__listado{
            margin-top: -5%;
        }
        .contenedor__secc2__listado{
            margin-top: 10%;
        }
}