* {
    margin: 0px;
    padding:0px;
    font-family: 'Montserrat', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    box-sizing: border-box;  
    text-decoration: none; 
    list-style: none;
    -webkit-text-size-adjust: none;
}
header{
    background-color: rgb(90, 14, 22);
}
#contenedor__general{
    margin-top: -15px;
    background-color: #fff;
}
#titulo-alta{
    margin: -2rem 0 1.5rem 0;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    padding-top: 1.5rem;
    color: rgb(90, 14, 22);
}
.formulario-contacto{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90vw;
    padding-top: 1rem;          
}
.campo-formulario {
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;    
    padding: 15px 7px 5px 0;
    margin: 4px 0px 2px 0px;
}
.img__ppal__tienda{
    max-width: 100%;
}
#contenedor-alta{
    background-color: rgba(168, 159, 160, 1);
    padding: 8%;
    color: rgb(90, 14, 22);
    font-weight: 600;
}
fieldset input{
    width: 100%;
    border-radius: 8px;
    padding: 3px 0px 4px 7px;
}
button{
    background-color: rgb(90, 14, 22);
    border-radius: 8px;
    padding: 15px 18px;
    color: #fff;
    font-weight: 600;
}