* {
    margin: 0px;
    padding:0px;
    font-family: 'Montserrat', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    box-sizing: border-box;  
    text-decoration: none; 
    list-style: none;
    -webkit-text-size-adjust: none;
}
header{
    background-color: rgb(90, 14, 22);
}

.img-ppal-familia{
    max-width: 100%;
    margin-top: 35px;
}
main{
    background-color: #fff;
    margin-top: -5px;
}
.titulo__ppal__familia{
    margin-top: -1.5rem;
    font-size: 2.5em;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2.5rem;
    text-shadow: 4px 3px 0 #fff,9px 8px 0 rgba(0,0,0,0.15);
}
.sub__titulo__ppal__familia{
    font-size: 1.4em;
    font-weight: 500;
    margin: 0 15% 1.5rem 15%;
    text-align: center;
    font-style: italic;
    color: rgb(90, 14, 22);
}
.parrafo_1_a{
    margin-bottom: 1em;
}
.parrafo_1_b{
    margin-bottom: 0.5em;
}
.parrafo_1_c{
    margin-bottom: 0.5em;
}
.parrafo_1_d{
    margin-bottom: 3em;
}
.img__seccion1__familia{
    max-width: 100%;
}
.parrafos{
    padding: 1% 15%;
}
/*----------- inicio footer -------------*/

/* ===================================== COMIENZO MEDIA QUERIES =============================================== */
    /* ======================================= 0 ===================================== */
       @media screen and (min-width:768px){
    /* =============================================================================== */  
        
         main{
            margin-top: 0;
        }
        .titulo__ppal__familia{
            margin-top: -3rem;
            font-size: 2.5em;
            margin-bottom: 4.5rem;
        }
        .sub__titulo__ppal__familia{
            font-size: 1.4em;
            margin: 0 15% 1.5rem 15%;
        }
}
    /* ======================================= 1 ===================================== */
       @media screen and (min-width:1200px){
    /* =============================================================================== */ 
        .titulo__ppal__familia{
            margin-top: -4.5rem;
            font-size: 4em;
            margin-bottom: 5rem;
        }
}