* {
    margin: 0px;
    padding:0px;
    font-family: 'Montserrat', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    box-sizing: border-box;  
    text-decoration: none; 
    list-style: none;
    -webkit-text-size-adjust: none;
}
header{
    background-color: rgb(90, 14, 22);
}
.img-ppal-login img{
    max-width: 100%;
    background-color: rgb(90, 14, 22);
    padding-top: 35px;
}
.img-ppal-login-2{
    border-bottom: none;
}
/* ----------FIN del NAVEGADOR ----principio main --------*/
main{
    background-color: #fff;
    margin-top: -30px;
    }
.titulo-carrito{
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    padding-top: 1.5rem;
}
.contenedor-seccion1{
    padding-top: 30px;
}
.figure__funes__carrito{
    max-width: 30%;
}
.img__funes__carrito, .img__ruta15__carrito{
    width: 20%;
}
.contenedor__carritos_01y02{
    border-top: solid 2px rgb(90, 14, 22);
    display: flex table-column;
    justify-content: center;
    padding-top: 30px;
}
.carrito_01, .carrito_02{
    display: flex;
}
.vino, .cosecha, .precio{
    margin-top: 15%;
    padding-right: 50px;
    font-weight: 700;
}
.vino{
    color: rgb(90, 14, 22);
    font-weight: 500;
}
.cantidad{
    margin: 13% 50px 8% 0;
    border: solid 2px rgb(90, 14, 22);
    border-radius: 9px;
    color: rgb(90, 14, 22);
    padding: 1% 2%;
    text-align: center;
}
/* ===================================== COMIENZO MEDIA QUERIES =============================================== */
    /* ======================================= 0 ===================================== */
        @media screen and (min-width:768px){
    /* =============================================================================== */  
        .carrito_02{
            margin-top: 3%;
        }
}
    /* ======================================= 1 ===================================== */
        @media screen and (min-width:1200px){
    /* =============================================================================== */
        .carrito_02{
            margin-top: 4.5%;
        }
        .contenedor-seccion1{
            margin: 20 29%;
        }
}