* {
    margin: 0px;
    padding:0px;
    font-family: 'Montserrat', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    box-sizing: border-box;  
    text-decoration: none; 
    list-style: none;
    -webkit-text-size-adjust: none;
}
header{
    background-color: rgb(86, 145, 207);
}
.contenedor-nav{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
}
.contenedor-nav li{
    margin: 0 15px;
}
.contenedor-nav a{
    color: #fff;;
    font-weight: 600;
}
a:hover{
    text-shadow:
    0 0 7px #fff,
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 25px rgb(125, 63, 150),
    0 0 42px rgb(125, 63, 150),
    0 0 50px rgb(125, 63, 150),
    0 0 52px rgb(125, 63, 150),
    0 0 50px rgb(125, 63, 150);
} 
.logo{
  width: 80%;
  padding: 3%;
}
.contenedor-logo-nav{
   display: flex;
   justify-content: center;
}
.img-ppal-home-mobile, .img-ppal-home-desktop{
    max-width: 100%;
}
.img-ppal-home-desktop{
    display: none;
}
/*----- Burguer ---------------------*/
.burger-menu{
    background-color: rgb(39, 83, 129);
    display: block;
    max-width: 50px;
    border-radius: 8px;
    padding: 10px 0;
    text-align: center;
    font-size: 18px;
    margin: auto;
    color: #fff;
    margin-bottom: 35px;
}
.contenedor-nav{
    display: none;
}
/* ----------FIN del NAVEGADOR ----principio main --------*/
main{
    background-color: #fff;
    margin-top: -8em;
}
.titulo__ppal__home{
    padding-top: 2rem;
    font-size: 3em;
    font-weight: 500;
    text-align: center;
    margin: 2em 0 2.5rem 0;
    font-weight: 800;
    text-shadow: 4px 3px 0 #fff,9px 8px 0 rgba(0,0,0,0.15);
}
.sub__titulo__ppal__home{
    font-size: 1.65em;
    font-weight: 500;
    text-align: center;
    font-style: italic;
    color: rgb(90, 14, 22);
    margin: 0 15% 0 15%;
}
.imagen__home2, .imagen__home3, .banner1{
    max-width: 100%;
}
.imagen__home2{
    margin-bottom: -22em;
}
.imagen__home3{
    margin-top: -16em;
}
.banner1{
    margin: -7em 0 -5em 0;
    position: relative;
}
.titulo-banner1{
    color: rgb(107, 21, 30);
    position: absolute;
    margin: 13% 0 0 23%;
    width: 395px;
    z-index: 15;
    padding: 15px 0 15px 0;
    border-bottom: solid 2px rgb(90, 14, 22);
    border-top: solid 2px rgb(90, 14, 22);
    cursor: pointer;
    background-color: rgba(90, 14, 22, 0.1);
}
.titulo-banner1 p{
    font-weight: 600;
    font-size: 1.1em;
    margin: 0 20px 0 27px;
}
.parrafos__home1{
    padding: 3% 15% 2% 15%;
}
.parrafos__home2{
    padding: 0% 15% 0 15%;
}
.parrafos{
    padding: 0% 15% 2% 15%;
}


/*----------- inicio footer -------------*/
footer{
    background-image: linear-gradient(rgb(85, 150, 218), rgb(68, 121, 156));
    padding: 3% 5%;
    margin-top: 10%;
}
.contenedor__footer__general{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.contenedor__footer__general li{
    padding: 2px 0 4px 0;
}
.contenedor__footer__sector-izq{
    padding-top: 3%;
    color: #fff;
    font-weight: 500;
}
.linea__superior-izquierda__footer{
    border-top: solid 6px rgb(90, 14, 22);
    border-radius: 5px;  
    margin-top: 2%;
}
.linea__superior-izquierda__footer p{
    margin-top: 2%;
}
.contenedor__footer__sector-izq li p{
    padding-left: 7px;
    color: rgb(236, 233, 234);
    font-weight: 700;
}
.contenedor__footer__sector-izq li p #footer__info__1, #footer__info__0{
    font-weight: 400;
    color: rgb(243, 238, 238);
}
.contenedor__footer__sector-izq{
    padding-top: 3%;
    color: #fff;
    font-weight: 500;
}
.contenedor__footer__mapa{
    position: relative;
}
.titulo-mapa{
    font-size: 1.4em;
    font-weight: 700;
    color: #fff;
}
.mapa{
    border-radius: 8px;
}






/* ===================================== COMIENZO MEDIA QUERIES =============================================== */
    /* ======================================= 0 ===================================== */
       @media screen and (min-width:768px){
    /* =============================================================================== */  
        header{
            background-image: linear-gradient(rgb(85, 150, 218), rgb(68, 121, 156));
        }
        .logo{
            width: 10%;
            padding: 0;
            margin: 1,5% 60% 0 7%
        }
        .burger-menu{
              display: none;
        }
        .contenedor-logo-nav{
            display: inline-block;
            position: absolute;
            margin-left: 3%;
        }
        .contenedor-nav{
            display:flex;
            justify-content: flex-end;
        }
        .contenedor__nav__secciones{
            display:flex;
        }
        main{
            margin-top: 0;
        }
        .img-ppal-home-mobile{
            display: none;
        }
        .img-ppal-home-desktop{
            display: block;
        }
        .titulo__ppal__home{
            margin-top: -2px;
            font-size: 3.8em;
        }
        .titulo-banner1{
            margin: 18% 0 0 43%;
        }
}
    /* ======================================= 1 ===================================== */
       @media screen and (min-width:1200px){
    /* =============================================================================== */
       .titulo__ppal__home{
        margin-top: -5px;
        font-size: 4em;
        }
        .parrafos__home1{
            padding: 3% 20% 2% 20%;
        }
        .parrafos__home2{
            padding: 0% 20%;
        }
        .parrafos{
            padding: 0% 20% 2% 20%;
        }
        .banner1{
            margin: -7em 0 -5em 0;
            position: relative;
        }
        .titulo-banner1{
            margin: 25% 0% 0 59%;
            width: 395px;
            z-index: 15;
            padding: 15px 0 15px 0;
        }
        .titulo-banner1 p{
            font-weight: 600;
            font-size: 1.1em;
            margin: 0 20px 0 27px;
        }

}    