* {
    margin: 0px;
    padding:0px;
    font-family: 'Montserrat', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    box-sizing: border-box;  
    text-decoration: none; 
    list-style: none;
    -webkit-text-size-adjust: none;
}
header{
    background-color: rgb(90, 14, 22);
}
.img__ppal__vinos{
    max-width: 100%;
}
main{
    background-color: #fff;
    margin-top: -5px;
}
/* ----------FIN del NAVEGADOR ----principio main --------*/
.campo-formulario {
    border: none;
    margin: auto;
    padding-top: 0.5em;
    color:rgb(240, 212, 212);
    text-align: center;
    font-weight: 500;
}
#contenedor__general{
    background-color: #fff;
    padding: 5% 10%;
    margin-top: -50px;
}
#contenedor__secundario{
    background-color: rgb(58, 12, 16);
    border-radius: 20px;
    padding: 5% 10%;
    position: relative;
    z-index: 19;
}
#contenedor__secundario #texto-editar-imagen{
    text-align: center;
    color:rgb(240, 212, 212);
    display: block;
    align-content: center;
    padding-bottom: 20px;
}
#botella{
    width: 60%;
    display: block;
    margin: 5% auto;
    border: solid 5px rgb(90, 14, 22);
    border-radius: 15px;
}
fieldset{
    border: none;
    margin-top: 15px;
}
form{
    color: rgb(240, 212, 212);
    font-weight: 600;
}
form input{
    width:100%;
    background-color: rgb(240, 220, 155);
    border-radius: 5px;
    color: rgb(90, 14, 22);
    border: solid 1px rgb(58, 5, 10);
    padding: 5px 10px;
}
#boton-editar, #boton-eliminar{
    background: rgb(58, 12, 16);
    color: rgb(240, 212, 212);
    padding: 10px 20px;
    border-radius: 15px;
    align-self: center;
    font-size: 1rem;
    margin-top: 15px;
}
#contenedor-botones{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
#boton-editar:hover, #boton-eliminar:hover{
    transition: all 0.5s;
    background: rgb(107, 29, 36);
    font-weight: 600;
}
.contenedorTextoErrores{
    display: flex;
    flex-direction: column;
    padding-left: 40%;
}
.textoErrores{
    color: darkred;
}
/* ===================================== COMIENZO MEDIA QUERIES =============================================== */
    /* ======================================= 0 ===================================== */
        @media screen and (min-width:768px){
    /* =============================================================================== */  
        #contenedor__general{
            padding: 5% 11%;
            margin-top: -70px;
        }
        #boton-editar, #boton-eliminar{
            padding: 10px 20px;
        }
}
        /* ======================================= 1 ===================================== */
        @media screen and (min-width:1200px){
        /* =============================================================================== */
        #contenedor__general{
            margin-top: -190px;
            padding: 5% 30%;
        }
        #boton-editar, #boton-eliminar{
            padding: 7px 10px;
        }
}    