<!Doctype html>
<html>
<head>
    <%- include('./include/head')%>
    <link rel="stylesheet" href="/css/estilos_carrito.css">
</head>

<body>
    <header>
        <%- include('./include/nav')%>
    </header>
    <main> 
    <section class="contenedor-seccion1">
        <h1 class="titulo-carrito">SHOPPING CART</h1>
        <div class="contenedor__carritos_01y02">
            <div class="carrito_01">
               <img src="/imagenes/botella-funes.png" class="img__funes__carrito" alt="finca-bertona">
               <p class="vino">Funes</p><p class="cosecha">Cosecha 2019</p><div class="cantidad">1</div><p class="precio">$1,200</p>
            </div>
            <div class="carrito_02">
                <img src="/imagenes/botella-ruta15.png" class="img__ruta15__carrito" alt="finca-bertona">
                <p class="vino">Ruta 15</p><p class="cosecha">Cosecha 2017</p><div class="cantidad">1</div><p class="precio">$2,415</p>
            </div>
        </div>
    </section>
    </main>
    <!----------------- Inicio footer ------------------------------------------------>
    <%- include('./include/footer')%>
    </body>
    </html>