<!Doctype html>
<html>
<head>
    <%- include('../include/head')%>
    <link rel="stylesheet" href="/css/estilos_alta.css">
</head>

<body>
    <header>
        <%- include('../include/nav')%>
        <figure class="img-ppal-tienda"><img src="/imagenes/img_ppal_tienda3.png" class="img__ppal__tienda" alt="finca-bertona"></figure>
    </header>
    <main id="contenedor__general">
        <h1 id="titulo-alta">Alta de productos</h1>
        <form class= "formulario-alta-productos" action="/alta" method="POST" enctype="multipart/form-data">
            <fieldset class="campo-formulario">
                <label for="marca">Marca:</label>
                <input type="text" name= "nombre" id="nombre" pattern="{4,30}" class="alta"  required placeholder="Escriba la marca">
            </fieldset>
            <fieldset class="campo-formulario">
                <label for="descripcion">Descripción:</label>
                <input type="text" name= "apellido" id="apellido"  class="alta" required placeholder="Escriba la descripción del producto">
            </fieldset>
            <fieldset class= "campo-formulario">
                <label for="cosecha-año">Cosecha/Año:</label>
                <input type="text" name= "nombre-de-usuario" id="nombre-de-usuario" class="alta" required placeholder="Escriba el año de cosecha">
            </fieldset>
            <fieldset class="campo-formulario">
                <label for="precio">Precio:</label>
                <input type="text" name="precio" value="2021-07-22" id= "precio"class="alta" required placeholder="Escriba el precio">
            </fieldset>
            <fieldset class="campo-formulario">
                <label for="uploads">Subir imagen:</label>
                <input type="file" name="imagen" id="clave" class="alta" required placeholder="suba su imagen">
            </fieldset>
            <button type="submit" class= "boton-formulario-enviar">ENVIAR</button>  
</main>
<%- include('../include/footer')%>
</body>
</html>

