<!Doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finca Bertona</title>
    <link rel="stylesheet" href="/css/estilos_tienda.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
</head>

<body>
    <header>
        <%- include('./include/nav')%>
        <figure class="img-ppal-tienda"><img src="/imagenes/img_ppal_tienda3.png" class="img__ppal__tienda" alt="finca-bertona"></figure>
    </header>
    <main id="contenedor__general"> 
        <h1 class="titulo-general">¡Llena tu carrito con la cosecha que prefieras!</h1>
        <h2 class="subtitulo-general">Ruta 15</h2>
    <section class="contenedor__seccion1">
        <div class="contenedor-botella">
            <figure class="figure__ruta15__tienda"><img src="/imagenes/botella-ruta15.png" class="img__ruta15__tienda" alt="finca-bertona"></figure>
            <p class="marca-vino">Ruta 15</p> 
            <p class="cosecha">Cosecha Año 2016</p>  
            <a href="/carrito"><i class="fa fa-shopping-cart" id="icono" alt="añadir al carrito"></i></a>  
        </div>
        <div class="contenedor-botella">
            <figure class="figure__ruta15__tienda"><img src="/imagenes/botella-ruta15.png" class="img__ruta15__tienda" alt="finca-bertona"></figure>
            <p class="marca-vino">Ruta 15</p> 
            <p class="cosecha">Cosecha Año 2017</p>  
            <a href="/carrito"><i class="fa fa-shopping-cart" id="icono" alt="añadir al carrito"></i></a>  
        </div>
        <div class="contenedor-botella">
            <figure class="figure__ruta15__tienda"><img src="/imagenes/botella-ruta15.png" class="img__ruta15__tienda" alt="finca-bertona"></figure>
            <p class="marca-vino">Ruta 15</p> 
            <p class="cosecha">Cosecha Año 2018</p>  
            <a href="/carrito"><i class="fa fa-shopping-cart" id="icono" alt="añadir al carrito"></i></a>  
        </div>
    </section>
    <h2 class="subtitulo-general">Funes</h2>
    <section class="contenedor__seccion2">
        <div class="contenedor-botella">
            <figure class="figure__funes__tienda"><img src="/imagenes/botella-funes.png" class="img__funes__tienda" alt="finca-bertona"></figure>
            <p class="marca-vino">Funes</p> 
            <p class="cosecha">Cosecha Año 2018</p>  
            <a href="/carrito"><i class="fa fa-shopping-cart" id="icono" alt="añadir al carrito"></i></a>  
        </div>
        <div class="contenedor-botella">
            <figure class="figure__funes__tienda"><img src="/imagenes/botella-funes.png" class="img__funes__tienda" alt="finca-bertona"></figure>
            <p class="marca-vino">Funes</p> 
            <p class="cosecha">Cosecha Año 2019</p>  
            <a href="/carrito"><i class="fa fa-shopping-cart" id="icono" alt="añadir al carrito"></i></a>  
        </div>
        <div class="contenedor-botella">
            <figure class="figure__funes__tienda"><img src="/imagenes/botella-funes.png" class="img__funes__tienda" alt="finca-bertona"></figure>
            <p class="marca-vino">Funes</p> 
            <p class="cosecha">Cosecha Año 2020</p>  
            <a href="/carrito"><i class="fa fa-shopping-cart" id="icono" alt="añadir al carrito"></i></a>  
        </div>
    </section>
    </main>
    <%- include('./include/footer')%>
    </body>
    </html>