<!Doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finca Bertona</title>
    <link rel="stylesheet" href="/css/estilos_vinos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
</head>

<body>
    <header>
        <%- include('./include/nav')%>
        <figure><img src="/imagenes/img_ppal_vinos3.png" class="img-ppal-vinos" alt="finca-bertona"></figure>
    </header>
    <main>     
    <section class="contenedor__general">
        <div class="contenedor__seccion1">
              <figure class="contenedor__secc1__imagen"><img src="/imagenes/botella-ruta15.png" class="botella-ruta15"></figure> 
              <ul class="contenedor__secc1__listado">
                    <h2 class="titulo__ficha-tecnica">FICHA TÉCNICA / CARACTERÍSTICAS</h2> 
                    <li><p><i class="fa fa-check-square" aria-hidden="true"></i>Complejo. Excepcional. Elegante<span class="descripcion1"></span></p></li>
                    <li><p><i class="fa fa-check-square" aria-hidden="true"></i>Variedad: <span class="variedad">Malbec 100%</span></p></li>
                    <li><p><i class="fa fa-check-square" aria-hidden="true"></i>Alcohol: <span class="alcohol">14% Vol.</span></p></li>
                    <li><p><i class="fa fa-check-square" aria-hidden="true"></i>Maduración en barrica: <span class="maduracion">8 meses</span></p></li>
                    <li><p><i class="fa fa-check-square" aria-hidden="true"></i>Guarda: <span class="guarda">de 8 a 10 años</span></p></li>
                    <li><p><i class="fa fa-check-square" aria-hidden="true"></i>Color rojo rubí intenso. Aromas a frutos como moras y frambuesas con sutiles notas especiadas. Posee una gran estructura, aportada por el intenso carácter frutado y especias, donde destaca un largo final y persistencia.<span class="descripcion2"></span></p></li> 
              </ul>
        </div>
        <article class="contenedor__seccion2">
             <ul class="contenedor__secc2__listado">
                <h2 class="titulo__ficha-tecnica2">FICHA TÉCNICA / CARACTERÍSTICAS</h2> 
                <li><p>Frutado. Espontáneo. Vibrante<span class="descripcion1"></span><i class="fa fa-check-square" aria-hidden="true"></i></p></li>
                <li><p>Variedad: <span class="variedad">Malbec 100%</span><i class="fa fa-check-square" aria-hidden="true"></i></p></li>
                <li><p>Alcohol: <span class="alcohol">14% Vol.</span><i class="fa fa-check-square" aria-hidden="true"></i></p></li>
                <li><p>Maduración en barrica: <span class="maduracion">3 meses</span><i class="fa fa-check-square" aria-hidden="true"></i></p></li>
                <li><p>Guarda: <span class="guarda">de 3 a 5 años</span><i class="fa fa-check-square" aria-hidden="true"></i></p></li>
                <li><p>Vino joven que estaca por su carácter frutado y un excelente equilibrio entre taninos, alcohol y acidez.<span class="descripcion2"></span><i class="fa fa-check-square" aria-hidden="true"></i></p></li> 
            </ul>
            <figure class="contenedor__secc2__imagen"><img src="/imagenes/botella-funes.png" class="botella-funes"></figure>
        </article>
    </section>
    </main>
    <%- include('./include/footer')%>
    </body>
    </html>