<!Doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finca Bertona</title>
    <link rel="stylesheet" href="/css/estilos_finca_bertona.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <header>
        <%- include('./include/nav')%>
    <figure><img src="/imgs-home/img_ppal_home-mobile-2-min(1).png" class="img-ppal-home-mobile" alt="finca-bertona"></figure>
    <figure><img src="/imgs-home/img_ppal_home(3).png" class="img-ppal-home-desktop" alt="finca-bertona"></figure>
</header>
<main> 
    <h1 class="titulo__ppal__home">Ruta 15 Km 29</h1>
    <h4 class="sub__titulo__ppal__home">un lugar de ensueño para el mejor Malbec Argentino</h4>
    <div>
       <p class="parrafos__home1">
          Con suelos de grava fina y arcilla, con buen drenaje, de origen cordillerano y milenario, a 1100 metros sobre el nivel del mar, con cálidos veranos soleados de noches frescas, estas tierras fueron y son la conjunción perfecta para unos viñedos únicos ubicados en la mejor zona para el Malbec Argentino. 
       </p>
       <p class="parrafos__home2">Desde el corazón de Luján de cuyo cultivamos uva Malbec para ofrecerles dos líneas de vino que puedan acompañarlos en cada momento.</p>
    </div>

<section class="contenedor-seccion1">
    <figure><img src="/imgs-home/home-02-B.png" class="imagen__home2" alt="finca-bertona"></figure>
    <a href="#" class="titulo-banner1"><p>CONOZCA MÁS DE NUESTROS VINOS</p></a>
    <figure><img src="/imgs-home/home-05banner-01.png" class="banner1" alt="finca-bertona"></figure>
</section>
<section class="contenedor-seccion2">
    <figure><img src="/imgs-home/home-03-B.png" class="imagen__home3" alt="finca-bertona"></figure>
    <div>
        <p class="parrafos">
            No es solo la ubicación geográfica lo que influencia la calidad de nuestros vinos, sino la edad de nuestras vides. El cultivo y la cosecha de nuestra uva es un proceso delicado al que otorgamos gran cuidado para lograr la mejor calidad de uva para nuestros vinos.
        </p>
     </div>
</section>
</main>
<%- include('./include/footer')%>
</body>
</html>

