<!Doctype html>
<html>
<head>
    <%- include('./include/head')%>
    <link rel="stylesheet" href="/css/estilos_404.css">
</head>
<body>
    <header>
        <%- include('./include/nav')%>
    <figure class="img-ppal-edicion"><img src="/imagenes/img_ppal_contacto.png" id="img__ppal__vinos" alt="finca-bertona"></figure>
    </header>
    <section id="contenedor__general">
            <h1>404</h1>
            <h3>pagina no encontrada</h3>
            <p id="texto404">Lo sentimos, la pagina a la que estas intentando acceder no existe</p>
        </section>
    </section>
    <%- include('./include/footer')%>
</body>
</html>