<!Doctype html>
<html>
<head>
    <%- include('./include/head')%>    
    <link rel="stylesheet" href="/css/estilos_nuestra_familia.css">
</head>

<body>
    <header>
        <%- include('./include/nav')%>
        <figure><img src="/imagenes/img_ppal_familia3.png" class="img-ppal-familia" alt="finca-bertona"></figure>
    </header>
<main> 
    <h1 class="titulo__ppal__familia">LA FAMILIA BERTONA</h1>
    <h4 class="sub__titulo__ppal__familia">un lugar privilegiado en donde la tradición familiar crea un Malbec excepcional</h4>
    <div>
       <p class="parrafos parrafo_1_a">
           Hace más de 130 años llegaba de Italia Don Ángel Bertona, quien adquirió noventa hectáreas de tierra en Agrelo, Luján de Cuyo, con fines agrícolas.   Juan, uno de sus hijos y las siguientes dos generaciones, plantaron y dieron vida a los viñedos que ya tienen mas de 90 años, los cuales están localizados a 1100 metros sobre el nivel del mar, donde los días cálidos y las noches frescas permiten a la fruta expresar sus intensas notas.</p> 
    </div>
<section class="contenedor-seccion1">  
    <figure><img src="/imagenes/nuestra_familia_img03.png" class="img__seccion1__familia" alt="finca-bertona"></figure>
    <div>
        <h4 class="sub__titulo__ppal__familia">Siguiendo la tradición familiar...</h4>
        <p class="parrafos parrafo_1_b">La familia tuvo tres Bodegas, dos en Mendoza y una en San Rafael, vendidas a través de los años todas menos la propiedad de Agrelo, donde Juan Bertona, quinta generación, continúa los pasos de la tradición familiar con la producción de Malbec.</p>
        <p class="parrafos parrafo_1_c">Actualmente Juan junto a su hijo Ignacio, el ingeniero agrónomo de Finca Bertona, continúan la delicada producción tradicional de Malbec. En la búsqueda de volver a las raíces productivas y de trabajar sólo con ingredientes orgánicos nace un reciente proyecto, una bodega de vinos naturales artesanales.</p>
        <p class="parrafos parrafo_1_d">Nuestra actividad nunca descansa y siempre estamos buscando innovaciones que ofrecer. Estamos trabajando intensamente en ello y próximamente comunicaremos los nuevos proyectos.</p>
    </div>
    <figure><img src="/imagenes/nuestra_familia_img04.png" class="img__seccion1__familia" alt="finca-bertona"></figure>
            <p class="parrafos">
             La cosecha es tan cuidada como el manejo de las vides, a cargo de ingenieros agrónomos especializados. Las uvas se elaboran con metodología artesanal y tradicional, y la posterior maduración se hace durante ocho meses en barricas de roble Francés y Americano.
            </p>
    <figure><img src="/imagenes/nuestra_familia_img05.png" class="img__seccion1__familia" alt="finca-bertona"></figure>
            <p class="parrafos">
            El vino duerme en botellas por lo menos seis meses, y debe seguir unos más hasta que los más impacientes deseen probarlo. Las guardas son de tal calidad, que se extienden aproximadamente de 7 a 10 años.
            </p>
</section>
</main>
<%- include('./include/footer')%>
</body>
</html>