<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos_nav.css">
    <title>Document</title>
</head>
<body>
  <!------- Comienzo Barra de Navegación--------------------------------------------------------------------------------------->
  <nav class="contenedor-nav">
    <ul class="contenedor__nav__secciones">
       <li><a href="/">Home</a></li>
       <li><a href="/nuestraFamilia">Nuestra Familia</a></li>
       <li><a href="/vinos">Vinos</a></li>
       <li><a href="/tienda">Tienda</a></li>
       <li><a href="/login">Login</a></li>
       <li><a href="/contacto">Contacto</a></li>
       <li><a href="/carrito"><i class="fa fa-shopping-cart"></i></a></li>
    </ul>
</nav>
<!------------------------ Fin Barra de Navegación -- Inicio BURGUER------------------------------>
<a href="#" class="burger-menu">
   <i class="fas fa-bars"></i>
</a>
<!----- fin Burguer -- Comienzo main--------------------------------------------------------------------------------------->  
</body>
</html>
