<!Doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finca Bertona</title>
    <link rel="stylesheet" src="public/estilosContacto.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <heather>
        <!------------------------ Comienzo Barra de Navegación --------------------------->
         <nav>
             <ul>
                 <li><a href="nuestraFamilia.html"></a>Nuestra Familia</li>
                 <li><a href="vinos.html"></a>Vinos</li>
                 <li><a href="tienda.html"></a>Tienda</li>
                 <li><a href="login.html"></a>Login</li>
                 <li><a href="contacto.html"></a>Contacto</li>
             </ul>
         </nav>
        <!------------------------ Fin Barra de Navegación -------------------------------->
    </heather>
<main> </main>
<section class="contenedorSeccion1">

</section>
</body>
<footer>

</footer>
</html>