<!Doctype html>
<html>
<head>

<link rel="stylesheet" src="Public/css/estilosFincaB.css">

</head>

<body>
    <heather>
    <!------------------------ Comienzo Barra de Navegación --------------------------->
     <nav>
         <ul>
             <li><a href="#"></a>A1</li>
             <li><a href="#"></a>A2</li>
             <li><a href="#"></a>A3</li>
             <li><a href="#"></a>A4</li>
         </ul>
     </nav>
    <!------------------------ Fin Barra de Navegación -------------------------------->
</heather>
<main> </main>
<section class="contenedorSeccion1">

</section>
</body>
<footer>

</footer>
</html>
