<!Doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finca Bertona</title>
    <link rel="stylesheet" href="../public/css/estilos_finca_bertona.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <header>
    <figure class="contenedor-logo-nav"> <img src="../public/imagenes/logo-finca-1.png" class="logo" alt="logo-finca-bertona"></figure>
    <!------- Comienzo Barra de Navegación--------------------------------------------------------------------------------------->
    <nav class="contenedor-nav">
        <ul class="contenedor__nav__secciones">
             <li><a href="/">Home</a></li>
             <li><a href="/nuestraFamilia">Nuestra Familia</a></li>
             <li><a href="/vinos">Vinos</a></li>
             <li><a href="/tienda">Tienda</a></li>
             <li><a href="/login">Login</a></li>
             <li><a href="/contacto">Contacto</a></li>
             <li><a href="/carrito"><i class="fa fa-shopping-cart"></i></a></li>
         </ul>
     </nav>
    <!------------------------ Fin Barra de Navegación -- Inicio BURGUER------------------------------>
    <a href="#" class="burger-menu">
        <i class="fas fa-bars"></i> 
    </a>
    <!----- fin Burguer -- Comienzo main--------------------------------------------------------------------------------------->
    <figure><img src="../public/imgs-home/img_ppal_home-mobile-2-min(1).png" class="img-ppal-home-mobile" alt="finca-bertona"></figure>
    <figure><img src="../public/imgs-home/img_ppal_home(3).png" class="img-ppal-home-desktop" alt="finca-bertona"></figure>
</header>
<main> 
    <h1 class="titulo__ppal__home">Ruta 15 Km 29</h1>
    <h4 class="sub__titulo__ppal__home">un lugar de ensueño para el mejor Malbec Argentino</h4>
    <div>
       <p class="parrafos">
          Con suelos de grava fina y arcilla, con buen drenaje, de origen cordillerano y milenario, a 1100 metros sobre el nivel del mar, con cálidos veranos soleados de noches frescas, estas tierras fueron y son la conjunción perfecta para unos viñedos únicos ubicados en la mejor zona para el Malbec Argentino. 
       </p>
    </div>

<section class="contenedor-seccion1">
    <figure><img src="../public/imgs-home/home-02-B.png" class="imagen__home2" alt="finca-bertona"></figure>
    <a href="#" class="titulo-banner1"><p>CONOZCA MÁS DE NUESTROS VINOS</p></a>
    <figure><img src="../public/imgs-home/home-05banner-01.png" class="banner1" alt="finca-bertona"></figure>
</section>
<section class="contenedor-seccion2">
    <figure><img src="../public/imgs-home/home-03-B.png" class="imagen__home3" alt="finca-bertona"></figure>
    <div>
        <p class="parrafos">
            No es solo la ubicación geográfica lo que influencia la calidad de nuestros vinos, sino la edad de nuestras vides. El cultivo y la cosecha de nuestra uva es un proceso delicado al que otorgamos gran cuidado para lograr la mejor calidad de uva para nuestros vinos.
        </p>
     </div>
</section>
</main>
<footer>
    <ul class="contenedor__footer__general">
        <div class="contenedor__footer__sector-izq"> 
            <li class="linea__superior-izquierda__footer">
               <p id="footer__info__0"> 33° 08' 10.3" S   -   68° 53' 27.5" W </p>
            </li>
            <li>
               <p> San Martin, Luján de Cuyo, Mendoza </p>
            </li>
            <li class="linea__superior-izquierda__footer">
                <p> Telefono Fijo: <span id="footer__info__1">(0232) 4288-8569</span></p>
            </li>
            <li class="linea__superior-izquierda__footer">
                <p>instagram: <span id="footer__info__1">@fincabertona</span></p>
            </li>
            <li>
                <p>facebook: <span id="footer__info__1">@fincabertona</span></p>
            </li>
            <li>
                <p>twitter: <span id="footer__info__1">@fincabertona</span></p>
            </li>
            <li>
                <p>email: <span id="footer__info__1">info@fincabertona.com.ar</span></p>
            </li>
            <li class="linea__superior-izquierda__footer">
                <p>Depto. Comercial:<span id="footer__info__1"> (0232) 4287-1235</span></p>
            </li>
            <li>
                <p>Depto. Turístico:<span id="footer__info__1"> (0232) 4285-2057</span></p>
            </li>
            <li>
                <p>Depto. de Prensa:<span id="footer__info__1"> (0232) 4288-2023</span></p>
            </li>
            <li class="linea__superior-izquierda__footer">
                <p><span id="footer__info__1">Estación parada: </span>  Av. San Martín</p>
            </li>
            <li class="linea__superior-izquierda__footer">
                <p>Luján de Cuyo, Mendoza</p>
            </li>
        </div>
        <div class="contenedor__footer__mapa">
            <li class="titulo-mapa">Donde Encontrarnos</li> 
            <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3340.9684138053817!2d-68.89316088480889!3d-33.136194380865085!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0!2zMzPCsDA4JzEwLjMiUyA2OMKwNTMnMjcuNSJX!5e0!3m2!1ses-419!2sar!4v1622595916244!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <li></li>
        </div>
    </ul>
  </footer>
</body>
</html>

