<!Doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finca Bertona</title>
    <link rel="stylesheet" href="/css/estilos_nuestra_familia.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
</head>

<body>
    <header>
    <figure class="contenedor-logo-nav"><img src="/imagenes/logo-finca-1.png" class="logo" alt="logo-finca-bertona"></figure>
        <!------- Comienzo Barra de Navegación--------------------------------------------------------------------------------------->
        <nav class="contenedor-nav">
             <ul class="contenedor__nav__secciones">
                <li><a href="/">Home</a></li>
                <li><a href="/nuestraFamilia">Nuestra Familia</a></li>
                <li><a href="/vinos">Vinos</a></li>
                <li><a href="/tienda">Tienda</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/contacto">Contacto</a></li>
                <li><a href="/carrito"><i class="fa fa-shopping-cart"></i></a></li>
             </ul>
         </nav>
        <!------------------------ Fin Barra de Navegación -- Inicio BURGUER------------------------------>
        <a href="#" class="burger-menu">
            <i class="fas fa-bars"></i>
        </a>
        <!----- fin Burguer -- Comienzo main--------------------------------------------------------------------------------------->
        <figure><img src="/imagenes/img_ppal_familia3.png" class="img-ppal-familia" alt="finca-bertona"></figure>
    </header>
<main> 
    <h1 class="titulo__ppal__familia">LA FAMILIA BERTONA</h1>
    <h4 class="sub__titulo__ppal__familia">un lugar privilegiado en donde la tradición familiar crea un Malbec excepcional</h4>
    <div>
       <p class="parrafos parrafo_1_a">
           Hace más de 130 años llegaba de Italia Don Ángel Bertona, quien adquirió noventa hectáreas de tierra en Agrelo, Luján de Cuyo, con fines agrícolas.   Juan, uno de sus hijos y las siguientes dos generaciones, plantaron y dieron vida a los viñedos que ya tienen mas de 90 años, los cuales están localizados a 1100 metros sobre el nivel del mar, donde los días cálidos y las noches frescas permiten a la fruta expresar sus intensas notas.</p> 
    </div>
<section class="contenedor-seccion1">  
    <figure><img src="/imagenes/nuestra_familia_img03.png" class="img__seccion1__familia" alt="finca-bertona"></figure>
    <div>
        <h4 class="sub__titulo__ppal__familia">Siguiendo la tradición familiar...</h4>
        <p class="parrafos parrafo_1_b">La familia tuvo tres Bodegas, dos en Mendoza y una en San Rafael, vendidas a través de los años todas menos la propiedad de Agrelo, donde Juan Bertona, quinta generación, continúa los pasos de la tradición familiar con la producción de Malbec.</p>
        <p class="parrafos parrafo_1_c">Actualmente Juan junto a su hijo Ignacio, el ingeniero agrónomo de Finca Bertona, continúan la delicada producción tradicional de Malbec. En la búsqueda de volver a las raíces productivas y de trabajar sólo con ingredientes orgánicos nace un reciente proyecto, una bodega de vinos naturales artesanales.</p>
        <p class="parrafos parrafo_1_d">Nuestra actividad nunca descansa y siempre estamos buscando innovaciones que ofrecer. Estamos trabajando intensamente en ello y próximamente comunicaremos los nuevos proyectos.</p>
    </div>
    <figure><img src="/imagenes/nuestra_familia_img04.png" class="img__seccion1__familia" alt="finca-bertona"></figure>
            <p class="parrafos">
             La cosecha es tan cuidada como el manejo de las vides, a cargo de ingenieros agrónomos especializados. Las uvas se elaboran con metodología artesanal y tradicional, y la posterior maduración se hace durante ocho meses en barricas de roble Francés y Americano.
            </p>
    <figure><img src="/imagenes/nuestra_familia_img05.png" class="img__seccion1__familia" alt="finca-bertona"></figure>
            <p class="parrafos">
            El vino duerme en botellas por lo menos seis meses, y debe seguir unos más hasta que los más impacientes deseen probarlo. Las guardas son de tal calidad, que se extienden aproximadamente de 7 a 10 años.
            </p>
</section>
</main>
<footer>
    <ul class="contenedor__footer__general">
        <div class="contenedor__footer__sector-izq"> 
            <li class="linea__superior-izquierda__footer">
               <p id="footer__info__0"> 33° 08' 10.3" S   -   68° 53' 27.5" W </p>
            </li>
            <li>
               <p> San Martin, Luján de Cuyo, Mendoza </p>
            </li>
            <li class="linea__superior-izquierda__footer">
                <p> Telefono Fijo: <span id="footer__info__1">(0232) 4288-8569</span></p>
            </li>
            <li class="linea__superior-izquierda__footer">
                <p>instagram: <span id="footer__info__1">@fincabertona</span></p>
            </li>
            <li>
                <p>facebook: <span id="footer__info__1">@fincabertona</span></p>
            </li>
            <li>
                <p>twitter: <span id="footer__info__1">@fincabertona</span></p>
            </li>
            <li>
                <p>email: <span id="footer__info__1">info@fincabertona.com.ar</span></p>
            </li>
            <li class="linea__superior-izquierda__footer">
                <p>Depto. Comercial:<span id="footer__info__1"> (0232) 4287-1235</span></p>
            </li>
            <li>
                <p>Depto. Turístico:<span id="footer__info__1"> (0232) 4285-2057</span></p>
            </li>
            <li>
                <p>Depto. de Prensa:<span id="footer__info__1"> (0232) 4288-2023</span></p>
            </li>
            <li class="linea__superior-izquierda__footer">
                <p><span id="footer__info__1">Estación parada: </span>  Av. San Martín</p>
            </li>
            <li class="linea__superior-izquierda__footer">
                <p>Luján de Cuyo, Mendoza</p>
            </li>
        </div>
        <div class="contenedor__footer__mapa">
            <li class="titulo-mapa">Donde Encontrarnos</li> 
            <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3340.9684138053817!2d-68.89316088480889!3d-33.136194380865085!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0!2zMzPCsDA4JzEwLjMiUyA2OMKwNTMnMjcuNSJX!5e0!3m2!1ses-419!2sar!4v1622595916244!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <li></li>
        </div>
    </ul>
  </footer>
</body>
</html>