<!Doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finca Bertona</title>
    <link rel="stylesheet" href="../public/css/estilos_nuestra_familia.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
</head>

<body>
    <header>
        <div class="contenedor-logo-nav"> <img src="../public/imagenes/logo-finca-1.png" class="logo" alt="logo-finca-bertona"></div>
        <!------- Comienzo Barra de Navegación--------------------------------------------------------------------------------------->
        <nav class="contenedor-nav">
             <ul class="contenedor__nav__secciones">
                <li><a href="/">Home</a></li>
                <li><a href="/nuestraFamilia">Nuestra Familia</a></li>
                <li><a href="/vinos">Vinos</a></li>
                <li><a href="/tienda">Tienda</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/contacto">Contacto</a></li>
             </ul>
         </nav>
        <!------------------------ Fin Barra de Navegación -- Inicio BURGUER------------------------------>
         <a href="#" class="burger-menu">
            <i class="fas fa-bars"></i>
        </a>
        <!----- fin Burguer -- Comienzo main--------------------------------------------------------------------------------------->
        <div> <img src="../public/imagenes/img_ppal_familia3.png" class="img-ppal-familia" alt="finca-bertona"></div>
    </header>
<main> 
    <h1 class="titulo__ppal__familia">La Familia Bertona</h1>
    <h4 class="sub__titulo__ppal__familia">un lugar privilegiado en donde la tradición familiar crea un Malbec excepcional</h4>
    <div>
       <p class="parrafos parrafo_1_a">
           Hace más de 130 años llegaba de Italia Don Ángel Bertona, quien adquirió noventa hectáreas de tierra en Agrelo, Luján de Cuyo, con fines agrícolas.   Juan, uno de sus hijos y las siguientes dos generaciones, plantaron y dieron vida a los viñedos que ya tienen mas de 90 años, los cuales están localizados a 1100 metros sobre el nivel del mar, donde los días cálidos y las noches frescas permiten a la fruta expresar sus intensas notas.</p> 
    </div>
<section class="contenedor-seccion1">  
    <figure><img src="../public/imagenes/nuestra_familia_img03.png" class="img__seccion1__familia" alt="finca-bertona"></figure>
    <div>
        <h4 class="sub__titulo__ppal__familia">Siguiendo la tradición familiar...</h4>
        <p class="parrafos parrafo_1_b">La familia tuvo tres Bodegas, dos en Mendoza y una en San Rafael, vendidas a través de los años todas menos la propiedad de Agrelo, donde todavía habita aquel Juan Bertona, con mas de 80 años bien llevados sobre sus espaldas.
            Su hijo Juan III, cuarta generación y que parece seguir los pasos su primogénito Juan IV, desarrolló el proyecto para construir allí una bodega, disponiendo y preparando dos hectáreas en el corazón mismo de la finca. 
        </p>
    </div>
    <figure><img src="../public/imagenes/nuestra_familia_img04.png" class="img__seccion1__familia" alt="finca-bertona"></figure>
            <p class="parrafos">
             La cosecha es tan cuidada como el manejo de las vides, a cargo de ingenieros agrónomos especializados. Las uvas se elaboran con metodología artesanal y tradicional, y la posterior maduración se hace durante ocho meses en barricas de roble Francés y Americano.
            </p>
    <figure><img src="../public/imagenes/nuestra_familia_img05.png" class="img__seccion1__familia" alt="finca-bertona"></figure>
            <p class="parrafos">
            El vino duerme en botellas por lo menos seis meses, y debe seguir unos más hasta que los más impacientes deseen probarlo. Las guardas son de tal calidad, que se extienden aproximadamente de 7 a 10 años
            </p>
</section>
</main>
<footer>

</footer>
</body>
</html>