<!Doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finca Bertona</title>
    <link rel="stylesheet" href="/css/estilos_login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
</head>

<body>
    <header>
        <%- include('./include/nav')%>
        <figure class="img-ppal-login"> <img src="/imagenes/img_ppal_login.png" class="img-ppal-login-2" alt="finca-bertona"></figure>
    </header>
    <main> 
    <section class="contenedorSeccion1">
        <h1 class="titulo-login">LOG IN TO ACCOUNT</h1>
        <form class= "formulario-login" action="/login" method="POST">
        <fieldset class= "campo-formulario">
            <label for="email"></label>
            <input type="email" name="email" id="email" value="E-mail" class="control" required placeholder>
        </fieldset>
        <fieldset class= "campo-formulario">
            <label for="password"></label>
            <input type="password" name="password" id="password" value="Contraseña" class="control" required placeholder>
        </fieldset>
        <div class="opciones-login">
            <a href="#" class="opciones-login__olvido-contraseña">¿Olvidó su contraseña?</a> <a href="/registro">Crear cuenta</a>          
        </div>
        <button type="submit" class="boton-formulario-ingresar">INGRESAR</button>
       </form>
    </section>
    </main>
    <!----------------- Inicio footer ------------------------------------------------>
    <%- include('./include/footer')%>    </body>
    </html>