<!Doctype html>
<html>
<head>
    <%- include('../include/head')%>    
    <link rel="stylesheet" href="/css/estilos_login.css">
</head>

<body>
    <header>
        <%- include('../include/nav')%>
        <figure class="img-ppal-login"> <img src="/imagenes/img_ppal_login.png" class="img-ppal-login-2" alt="finca-bertona"></figure>
    </header>
    <main> 
    <section class="contenedorSeccion1">
        <h1 class="titulo-login">LOG IN TO ACCOUNT</h1>
        <form class= "formulario-login" action="/login" method="POST">
        <fieldset class= "campo-formulario">
            <label for="email"></label>
            <input type="email" name="email" id="email" value="E-mail" class="control" required placeholder>
        </fieldset>
        <fieldset class= "campo-formulario">
            <label for="password"></label>
            <input type="password" name="password" id="password" value="Contraseña" class="control" required placeholder>
        </fieldset>
        <div class="opciones-login">
            <a href="#" class="opciones-login__olvido-contraseña">¿Olvidó su contraseña?</a> <a href="/registro">Crear cuenta</a>          
        </div>
        <button type="submit" class="boton-formulario-ingresar">INGRESAR</button>
       </form>
    </section>
    </main>
    <!----------------- Inicio footer ------------------------------------------------>
    <%- include('../include/footer')%>    </body>
    </html>