<!Doctype html>
<html>
<head>
    <%- include('../include/head')%>   
    <link rel="stylesheet" href="/css/estilos_registro.css">
</head>

<body>
    <header>
        <%- include('../include/nav')%>
        <div class="img-ppal-login"> <img src="/imagenes/img_ppal_login.png" class="img-ppal-login-2" alt="finca-bertona"></div>
    </header>
    <main>
        <section class="contenedorSeccion1">
            <h1 class="titulo-registro">CREA TU CUENTA</h1>
            <form class= "formulario-registro" action="/registro" method="POST">
                <fieldset class= "campo-formulario">
                    <label for="nombre">Nombre:</label>
                    <input type="text" name= "nombre" id="nombre" pattern="{4,30}" class="control"  required placeholder="Escriba su nombre">
                </fieldset>
                <fieldset class= "campo-formulario">
                    <label for="apellido">Apellido:</label>
                    <input type="text" name= "apellido" id="apellido"  class="control" required placeholder="Escriba su apellido">
                </fieldset>
                <fieldset class= "campo-formulario">
                    <label for="nombre-de-usuario">Nombre de usuario:</label>
                    <input type="text" name= "nombre-de-usuario" id="nombre-de-usuario" class="control" required placeholder="Escriba su nombre de usuario">
                </fieldset>
                <fieldset class= "campo-formulario">
                    <label for="fecha-de-nacimiento">Fecha de nacimiento:</label>
                    <input type="date" name="fecha" value="2021-07-22" id= "fecha-de.nacimiento"class="control" required placeholder="Escriba su fecha de nacimiento">
                </fieldset>
                <fieldset class= "campo-formulario">
                    <label for="domicilio">Domicilio:</label>
                    <input type="text" name= "domicilio" id="domicilio" class="control" required placeholder="Escriba su domicilio">
                </fieldset>
                <fieldset class="campo-formulario">
                    <label for="clave">Contrase単a:</label>
                    <input type="password" name="clave" id="clave" class="control" required placeholder="Escriba su contrase単a">
                </fieldset>
        
                <fieldset class="campo-formulario-mensaje">
                    <label for="confirmacion-clave">Confirme su contrase単a:</label>
                    <input type="password" name="clave" id="clave" class="control" required placeholder="Confirme su contrase単a">
                </fieldset>
                <button type="submit" class= "boton-formulario-enviar">ENVIAR</button>  
    </main>
    <%- include('../include/footer')%>
      </body>
      </html>
